
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-616720521253356225.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-616720521253356225.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-616720521253356225.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-616720521253356225.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-616720521253356225.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-616720521253356225.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-616720521253356225.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-616720521253356225.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-616720521253356225.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-616720521253356225.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-616720521253356225.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-616720521253356225.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-616720521253356225.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-616720521253356225.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-616720521253356225.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-616720521253356225.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-616720521253356225.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-616720521253356225.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-616720521253356225.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-616720521253356225.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-616720521253356225.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-616720521253356225.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-616720521253356225.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-616720521253356225.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-616720521253356225.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-616720521253356225.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-616720521253356225.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-616720521253356225.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-616720521253356225.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-616720521253356225.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-616720521253356225.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-616720521253356225.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-616720521253356225.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-616720521253356225.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-616720521253356225.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-616720521253356225.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-616720521253356225.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-616720521253356225.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-616720521253356225.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-616720521253356225.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-616720521253356225.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-616720521253356225.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-616720521253356225.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-616720521253356225.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-616720521253356225.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-616720521253356225.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-616720521253356225.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-616720521253356225.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-616720521253356225 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-616720521253356225 .gp-relative{position:relative}.gps-616720521253356225 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-616720521253356225 .gp-mb-0{margin-bottom:0}.gps-616720521253356225 .gp-flex{display:flex}.gps-616720521253356225 .gp-grid{display:grid}.gps-616720521253356225 .\!gp-hidden{display:none!important}.gps-616720521253356225 .gp-hidden{display:none}.gps-616720521253356225 .gp-min-w-0{min-width:0}.gps-616720521253356225 .gp-max-w-full{max-width:100%}.gps-616720521253356225 .gp-flex-1{flex:1 1 0%}.gps-616720521253356225 .gp-cursor-pointer{cursor:pointer}.gps-616720521253356225 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-616720521253356225 .gp-flex-row{flex-direction:row}.gps-616720521253356225 .gp-flex-col{flex-direction:column}.gps-616720521253356225 .gp-flex-wrap{flex-wrap:wrap}.gps-616720521253356225 .gp-overflow-hidden{overflow:hidden}.gps-616720521253356225 .gp-whitespace-nowrap{white-space:nowrap}.gps-616720521253356225 .gp-p-4{padding:16px}.gps-616720521253356225 .gp-px-4{padding-left:16px;padding-right:16px}.gps-616720521253356225 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-616720521253356225 .\!gp-text-inherit{color:inherit!important}.gps-616720521253356225 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-616720521253356225 .gp-duration-200{transition-duration:.2s}.gps-616720521253356225 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-616720521253356225 .tablet\:\!gp-hidden{display:none!important}.gps-616720521253356225 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-616720521253356225 .mobile\:\!gp-hidden{display:none!important}.gps-616720521253356225 .mobile\:gp-hidden{display:none}}.gps-616720521253356225 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gZkUj_nj51"}' data-id="gZkUj_nj51" id="gZkUj_nj51" data-same-height-subgrid-container class="gZkUj_nj51 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4EziUVlNh gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab
      data-id="gF7aa70NZZ"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--as:center"
      class="gp-flex gF7aa70NZZ"
      gp-data='{"setting":{"childItem":["Tab 1","Tab 2","Tab 3"],"containWidth":{"desktop":"1200px"},"activeKey":0,"position":{"desktop":"top"},"labelTypoV2":{"type":"paragraph-1","attrs":{}},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"panelAlign":{"desktop":"left"},"panelAlignVertical":{"desktop":"start"},"labelWidth":{"desktop":"auto"},"labelAlign":{"desktop":"left"},"enableHoverEffect":false,"enableActiveEffect":true,"labelBgColor":{"active":"bg-1"},"labelColor":{"normal":"text-1"},"borderTab":{"active":{"border":"solid","width":"0px 0px 1px 0px","borderWidth":"1px","color":"line-3","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"align":{"desktop":"center"}},"builderProps":{"uid":"gF7aa70NZZ","builderData":{"uid":"gF7aa70NZZ","tag":"Tabs","label":"Tab","settings":{"childItem":["Tab 1","Tab 2","Tab 3"],"containWidth":{"desktop":"1200px"},"activeKey":0,"position":{"desktop":"top"},"labelTypoV2":{"type":"paragraph-1","attrs":{}},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"panelAlign":{"desktop":"left"},"panelAlignVertical":{"desktop":"start"},"labelWidth":{"desktop":"auto"},"labelAlign":{"desktop":"left"},"enableHoverEffect":false,"enableActiveEffect":true,"labelBgColor":{"active":"bg-1"},"labelColor":{"normal":"text-1"},"borderTab":{"active":{"border":"solid","width":"0px 0px 1px 0px","borderWidth":"1px","color":"line-3","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"align":{"desktop":"center"}},"styles":{},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":0}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":["gHH3LacoBy","g28-fKukdq","gXswIUGBzi"],"type":"component"}}}'>
        <style> .gF7aa70NZZ .gp-tab-item p {
            word-wrap: break-word;
            white-space: break-spaces;
          }</style>
        <div class="gp-flex  gp-flex-col">
          <div class="gp-flex" style="--jc:left;--ai:start">
            <ul class="gp-tab-header-list gp-flex gp-flex-wrap gp-overflow-hidden  gp-flex-row" style="--jc:left;--w:100%;--w-tablet:100%;--w-mobile:100%">
              
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--c:var(--g-c-text-1, text-1);--bgc:var(--g-c-bg-1, bg-1);--bs:solid;--bw:0px 0px 1px 0px;--bc:var(--g-c-line-3, line-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto"
        key="gF7aa70NZZ"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggF7aa70NZZ_childItem_0 }}
        </div>
      </div>
    </div>
    
      </li>
    
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--c:var(--g-c-text-1, text-1);--w:Auto;--w-tablet:Auto;--w-mobile:Auto"
        key="gF7aa70NZZ"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggF7aa70NZZ_childItem_1 }}
        </div>
      </div>
    </div>
    
      </li>
    
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--c:var(--g-c-text-1, text-1);--w:Auto;--w-tablet:Auto;--w-mobile:Auto"
        key="gF7aa70NZZ"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggF7aa70NZZ_childItem_2 }}
        </div>
      </div>
    </div>
    
      </li>
    
            </ul>
          </div>
          <div class="gp-flex gp-flex-1 gp-min-w-0">
            <div
              key="gF7aa70NZZ"
              class="gp-tab-item-container gp-p-4"
              style="--w:100%"
            >
              
  <div
    
    class="gp-tab-item gp-child-item-gF7aa70NZZ"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--h:100%;--v:visible;--pos:relative"
  >
    
  </div>
  
  <div
    
    class="gp-tab-item gp-child-item-gF7aa70NZZ"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--h:100%;--v:hidden;--pos:absolute"
  >
    
  </div>
  
  <div
    
    class="gp-tab-item gp-child-item-gF7aa70NZZ"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--h:100%;--v:hidden;--pos:absolute"
  >
    
  </div>
  
            </div>
          </div>
        </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-tab-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-616720521253356225 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eillor/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=616678350110327463&sectionId=616720521253356225)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggF7aa70NZZ_childItem_0","label":"ggF7aa70NZZ_childItem_0","default":"Tab 1"},{"type":"html","id":"ggF7aa70NZZ_childItem_1","label":"ggF7aa70NZZ_childItem_1","default":"Tab 2"},{"type":"html","id":"ggF7aa70NZZ_childItem_2","label":"ggF7aa70NZZ_childItem_2","default":"Tab 3"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}